<a href="https://colab.research.google.com/github/addalasaikishore/info5731_spring2021/blob/main/inclass%20exercise4%20kishoresai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The fourth in-class-exercise (20 points in total, 2/9/2021)
1. Text Data Preprocessing
Here is a legal case we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:

1.1 Basic feature extraction using text data (4 points)

Number of sentences

Number of words

Number of characters

Average word length

Number of stopwords

Number of special characters

Number of numerics

Number of uppercase words

1.2 Basic Text Pre-processing of text data (4 points)

Lower casing

Punctuation removal

Stopwords removal

Frequent words removal

Rare words removal

Spelling correction

Tokenization
Stemming
Lemmatization

In [ ]:
import urllib.request
import pandas as pd
import string
from textblob import TextBlob

In [5]:

df = urllib.request.urlopen("https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt")

sentences=list()
for value in df:
  sentence = value.decode("utf-8").replace("\r\n",'')
  if sentence:
    sentences.append(sentence)

In [8]:
# number of sentences
print("Total sentences : ", len(sentences))

total_df = pd.DataFrame(sentences,columns=['input'])

Total sentences :  1659

In [9]:
def merge_two_dataframes(ip1, ip2):
  return pd.concat([ip1,ip2],axis=1)

In [10]:
#number of words 
def count_the_words(ip):
  return len(ip.split())

words = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: count_the_words(a)).to_frame().rename(columns = {"input":"word_count"}))
print(words)

            input  word_count
0              \n           0
1              \n           0
2              \n           0
3              \n           0
4              \n           0
...           ...         ...
1654           \n           0
1655           \n           0
1656    </body>\n           1
1657    </html>\n           1
1658           \n           0

[1659 rows x 2 columns]

In [12]:
#number of characters 

def number_of_characters(ip):
  val = list()
  for i in ip:
    if i not in string.punctuation:
      val.append(i)
  formatted_data = ''.join(val);
  return len(formatted_data.replace(" ",""))

char_count = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: number_of_characters(a)).to_frame().rename(columns = {"input":"character count"}))
print(char_count)

            input  character count
0              \n                1
1              \n                1
2              \n                1
3              \n                1
4              \n                1
...           ...              ...
1654           \n                1
1655           \n                1
1656    </body>\n                5
1657    </html>\n                5
1658           \n                1

[1659 rows x 2 columns]

In [13]:
#Average word length 

def avg_word_length(ip):
  if(len(ip.split())!=0):
    count = len(ip.replace(" ",""))
    count1 = len(ip.split())
    return count/count1
  else:
    return 0

avg_words = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: avg_word_length(a)).to_frame().rename(columns = {"input":"Average word count"}))
print(avg_words)

            input  Average word count
0              \n                 0.0
1              \n                 0.0
2              \n                 0.0
3              \n                 0.0
4              \n                 0.0
...           ...                 ...
1654           \n                 0.0
1655           \n                 0.0
1656    </body>\n                 8.0
1657    </html>\n                 8.0
1658           \n                 0.0

[1659 rows x 2 columns]

In [14]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [15]:
#Number of stop words
words_data = set(stopwords.words('english'))
def stop_words(ip):
  count = 0
  for i in ip.split():
    if i in words_data:
      count = count+1
  return count

stopwords = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: stop_words(a)).to_frame().rename(columns = {"input":"Number of stop words"}))
print(stopwords)

            input  Number of stop words
0              \n                     0
1              \n                     0
2              \n                     0
3              \n                     0
4              \n                     0
...           ...                   ...
1654           \n                     0
1655           \n                     0
1656    </body>\n                     0
1657    </html>\n                     0
1658           \n                     0

[1659 rows x 2 columns]

In [16]:
# Number of special characters  

def number_of_special_characters(ip):
  count = 0
  for val in ip:
    if val.isdigit() or val.isalpha() or (val == ' '):
      count=count
    else:
      count=count+1
  return count

special_chars = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: number_of_special_characters(a)).to_frame().rename(columns = {"input":"special_chars"}))
print(special_chars)

            input  special_chars
0              \n              1
1              \n              1
2              \n              1
3              \n              1
4              \n              1
...           ...            ...
1654           \n              1
1655           \n              1
1656    </body>\n              4
1657    </html>\n              4
1658           \n              1

[1659 rows x 2 columns]

In [17]:
# Number of numerics '''
def count_of_numeric(ip):
  count = 0
  for val in ip:
    if val.isdigit():
      count = count+1
  return count
number_of_numerics = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: count_of_numeric(a)).to_frame().rename(columns = {"input":"number_of_numeric_values"}))
print(number_of_numerics)

            input  number_of_numeric_values
0              \n                         0
1              \n                         0
2              \n                         0
3              \n                         0
4              \n                         0
...           ...                       ...
1654           \n                         0
1655           \n                         0
1656    </body>\n                         0
1657    </html>\n                         0
1658           \n                         0

[1659 rows x 2 columns]

In [18]:
#number of upper case words
def upper_case_count(ip):
  count = 0
  for i in ip:
    if i.isupper():
      count = count+1
  return count

upper_case_count = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: upper_case_count(a)).to_frame().rename(columns = {"input":"upper_case_count"}))
print(upper_case_count)

            input  upper_case_count
0              \n                 0
1              \n                 0
2              \n                 0
3              \n                 0
4              \n                 0
...           ...               ...
1654           \n                 0
1655           \n                 0
1656    </body>\n                 0
1657    </html>\n                 0
1658           \n                 0

[1659 rows x 2 columns]

In [19]:
#1.2 Basic Text Pre-processing of text data

#lower casing 

lower_case_df = merge_two_dataframes(total_df, total_df['input'].apply(lambda a: a.lower()).to_frame().rename(columns = {"input":"lower_case"}))
print(lower_case_df)

            input   lower_case
0              \n           \n
1              \n           \n
2              \n           \n
3              \n           \n
4              \n           \n
...           ...          ...
1654           \n           \n
1655           \n           \n
1656    </body>\n    </body>\n
1657    </html>\n    </html>\n
1658           \n           \n

[1659 rows x 2 columns]

In [20]:
#special characters removal '''


def remove_spl_characters(ip):
  res = list()
  for val in ip:
    if val not in string.punctuation:
      res.append(val)
  return ''.join(res)

spl_chars_df = merge_two_dataframes(lower_case_df, lower_case_df['lower_case'].apply(lambda a: remove_spl_characters(a)).to_frame().rename(columns = {"lower_case":"string_after_removing_spl_chars"}))
spl_chars_df

            input   lower_case string_after_removing_spl_chars
0              \n           \n                              \n
1              \n           \n                              \n
2              \n           \n                              \n
3              \n           \n                              \n
4              \n           \n                              \n
...           ...          ...                             ...
1654           \n           \n                              \n
1655           \n           \n                              \n
1656    </body>\n    </body>\n                          body\n
1657    </html>\n    </html>\n                          html\n
1658           \n           \n                              \n

[1659 rows x 3 columns]

In [21]:
#stop words removal

def remove_stop_words(ip):
  res = list()
  for val in ip:
    if val not in words_data:
      res.append(val)
  return ' '.join(res)


stop_words_rm_df = merge_two_dataframes(spl_chars_df, spl_chars_df['string_after_removing_spl_chars'].apply(lambda a:remove_stop_words(a.split())).to_frame().rename(columns = {"string_after_removing_spl_chars":"stop_words_removal"}))
stop_words_rm_df

            input  ... stop_words_removal
0              \n  ...
1              \n  ...
2              \n  ...
3              \n  ...
4              \n  ...
...           ...  ...                ...
1654           \n  ...
1655           \n  ...
1656    </body>\n  ...               body
1657    </html>\n  ...               html
1658           \n  ...

[1659 rows x 4 columns]

In [22]:
#5 frequent words
frequent_words = list(pd.Series(' '.join(stop_words_rm_df['string_after_removing_spl_chars']).split()).value_counts()[:5].index)
#5 rare words
rare_words = list(pd.Series(' '.join(stop_words_rm_df['string_after_removing_spl_chars']).split()).value_counts()[-5:].index)

In [23]:
#Frequent words removal 
def remove_frequent_words(ip):
  res = list()
  for val in ip:
    if val not in frequent_words:
      res.append(val)
  return ' '.join(res)

frequent_words_df = merge_two_dataframes(stop_words_rm_df, stop_words_rm_df['stop_words_removal'].apply(lambda a:remove_frequent_words(a.split())).to_frame().rename(columns = {"stop_words_removal":"frequent_words"}))
frequent_words_df

            input   lower_case  ... stop_words_removal frequent_words
0              \n           \n  ...
1              \n           \n  ...
2              \n           \n  ...
3              \n           \n  ...
4              \n           \n  ...
...           ...          ...  ...                ...            ...
1654           \n           \n  ...
1655           \n           \n  ...
1656    </body>\n    </body>\n  ...               body           body
1657    </html>\n    </html>\n  ...               html           html
1658           \n           \n  ...

[1659 rows x 5 columns]

In [26]:
''' Frequent words removal  '''
def remove_frequent_words(ip):
  res = list()
  for val in ip:
    if val not in rare_words:
      res.append(val)
  return ' '.join(res)

rare_words_df = merge_two_dataframes(frequent_words_df, stop_words_rm_df['stop_words_removal'].apply(lambda a:remove_frequent_words(a.split())).to_frame().rename(columns = {"stop_words_removal":"rare_words"}))
rare_words_df

            input   lower_case  ... frequent_words rare_words
0              \n           \n  ...
1              \n           \n  ...
2              \n           \n  ...
3              \n           \n  ...
4              \n           \n  ...
...           ...          ...  ...            ...        ...
1654           \n           \n  ...
1655           \n           \n  ...
1656    </body>\n    </body>\n  ...           body       body
1657    </html>\n    </html>\n  ...           html       html
1658           \n           \n  ...

[1659 rows x 6 columns]

In [27]:
#spelling corrections

spell_corrector_df = merge_two_dataframes(rare_words_df, rare_words_df['rare_words'].apply(lambda a:remove_frequent_words(a.split())).to_frame().rename(columns = {"rare_words":"spelling_check"}))
spell_corrector_df

            input   lower_case  ... rare_words spelling_check
0              \n           \n  ...
1              \n           \n  ...
2              \n           \n  ...
3              \n           \n  ...
4              \n           \n  ...
...           ...          ...  ...        ...            ...
1654           \n           \n  ...
1655           \n           \n  ...
1656    </body>\n    </body>\n  ...       body           body
1657    </html>\n    </html>\n  ...       html           html
1658           \n           \n  ...

[1659 rows x 7 columns]

In [28]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [29]:
''' tokenization '''
from nltk import word_tokenize
tokenization_df = merge_two_dataframes(spell_corrector_df, spell_corrector_df['spelling_check'].apply(lambda a:word_tokenize(str(a))).to_frame().rename(columns = {"spelling_check":"tokenization"}))
tokenization_df

            input   lower_case  ... spelling_check tokenization
0              \n           \n  ...                          []
1              \n           \n  ...                          []
2              \n           \n  ...                          []
3              \n           \n  ...                          []
4              \n           \n  ...                          []
...           ...          ...  ...            ...          ...
1654           \n           \n  ...                          []
1655           \n           \n  ...                          []
1656    </body>\n    </body>\n  ...           body       [body]
1657    </html>\n    </html>\n  ...           html       [html]
1658           \n           \n  ...                          []

[1659 rows x 8 columns]

In [30]:
#stemming 
from nltk.stem import PorterStemmer
valobj = PorterStemmer()  
def stemming_func(ip):
  res = list()
  for i in ip:
    res.append(valobj.stem(i))
  return ' '.join(res)

stemming_df = merge_two_dataframes(tokenization_df, tokenization_df['tokenization'].apply(lambda a:stemming_func(a)).to_frame().rename(columns = {"tokenization":"stemming"}))
stemming_df

            input   lower_case  ... tokenization stemming
0              \n           \n  ...           []
1              \n           \n  ...           []
2              \n           \n  ...           []
3              \n           \n  ...           []
4              \n           \n  ...           []
...           ...          ...  ...          ...      ...
1654           \n           \n  ...           []
1655           \n           \n  ...           []
1656    </body>\n    </body>\n  ...       [body]     bodi
1657    </html>\n    </html>\n  ...       [html]     html
1658           \n           \n  ...           []

[1659 rows x 9 columns]

In [31]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [32]:
import textblob

def lemmitization_func(ip):
  res = list()
  for i in ip:
    res.append(textblob.Word(i).lemmatize())
  return ' '.join(res)

lemmitization_df = merge_two_dataframes(stemming_df, tokenization_df['tokenization'].apply(lambda a:lemmitization_func(a)).to_frame().rename(columns = {"tokenization":"lemmitization"}))
lemmitization_df

            input   lower_case  ... stemming lemmitization
0              \n           \n  ...
1              \n           \n  ...
2              \n           \n  ...
3              \n           \n  ...
4              \n           \n  ...
...           ...          ...  ...      ...           ...
1654           \n           \n  ...
1655           \n           \n  ...
1656    </body>\n    </body>\n  ...     bodi          body
1657    </html>\n    </html>\n  ...     html          html
1658           \n           \n  ...

[1659 rows x 10 columns]

In [33]:
# Write your code here


import re

ip = "260.08.094.109"
res = re.sub(r'\b0+(\d)', r'\1', ip)

print("updated ip: ",res)

updated ip:  260.8.94.109

2.2 Write a Python Program to extract all the years from the following sentence. (4 points)
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [37]:
# Write your code here

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

output2=re.findall(r'2\d\d\d', sentence)
print(output2)

['2010', '2010', '2019']